<div *ngIf="user">
  <!-- Barra de navegación estática -->
  <app-navbar></app-navbar>

  <!-- Contenedor del perfil de usuario -->
  <div class="max-w-4xl mx-auto p-6 bg-white shadow-md rounded-lg mt-20">
    <div class="flex flex-col md:flex-row items-center md:items-start md:space-x-6">
      <div class="w-32 h-32 md:w-48 md:h-48 rounded-full border-4 border-gray-300 flex items-center justify-center overflow-hidden flex-shrink-0">
        <img [src]="user.imagen || 'https://via.placeholder.com/150'" alt="Foto de Perfil" class="w-full h-full rounded-full object-cover">
      </div>

      <div class="mt-6 md:mt-0">
        <h1 class="text-3xl font-bold text-gray-800">{{ user.nombre }}</h1>
        <p class="text-gray-600 mt-4">{{ user.descripcion }}</p>

        <button (click)="toggleEditar()" class="bg-primary text-white font-bold py-2 px-4 mt-4 rounded-full shadow-md hover:bg-accent hover:text-gray-800 transition-transform">
          {{ editando ? 'Cancelar' : 'Editar Perfil' }}
        </button>

        <!-- Formulario de edición -->
        <div *ngIf="editando" class="mt-6">
          <label class="block text-sm font-medium text-gray-700">URL de Imagen de Perfil:</label>
          <input type="text" [(ngModel)]="user.imagen" placeholder="Aquí va el link de tu imagen de perfil" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">

          <label class="block text-sm font-medium text-gray-700 mt-4">Biografía:</label>
          <textarea [(ngModel)]="user.descripcion" rows="3" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"></textarea>

          <button (click)="guardarCambios()" class="bg-green-500 text-white font-bold py-2 px-4 mt-4 rounded-full shadow-md hover:bg-green-600 transition-transform">
            Guardar Cambios
          </button>
        </div>

        <!-- Medallas -->
        <div class="mt-6">
          <button (click)="toggleMostrarMedallas()" class="text-xl font-semibold text-gray-700 focus:outline-none">
            Medallas Ganadas
          </button>
          <ul *ngIf="mostrarMedallas" class="mt-4 border border-gray-300 rounded-lg shadow-md max-w-md mx-auto">
            <li *ngFor="let medalla of user.medallasUsuario" class="p-2 border-b last:border-b-0 border-gray-200">
              <p class="text-sm text-gray-800">
                {{ medalla.nombre }} <span *ngIf="medalla.count > 1">x{{ medalla.count }}</span>
              </p>
            </li>
          </ul>
        </div>

        <!-- Publicaciones recientes -->
        <div class="mt-8" *ngIf="user && user.publicaciones && user.publicaciones.length > 0">
          <h2 class="text-2xl font-semibold text-gray-700">Actividad Reciente</h2>
          <div class="grid grid-cols-1 gap-4 sm:grid-cols-2 md:grid-cols-3">
            <div *ngFor="let publicacion of user.publicaciones" class="mb-4">
              <app-publicacion
                class="object-cover object-center w-full h-40 max-w-full rounded-lg"
                [imagen]="publicacion.imagen"
                [usuarioId]="publicacion.usuarioId"
                [descripcion]="publicacion.descripcion"
                [fecha]="publicacion.fecha"
                [aplausos]="publicacion.aplausos"
                [postId]="publicacion._id">
              </app-publicacion>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Contenedor de actividad reciente -->
  <div class="max-w-4xl mx-auto p-6 bg-white shadow-md rounded-lg mt-8" *ngIf="user && user.publicaciones && user.publicaciones.length > 0">
    <h2 class="text-2xl font-semibold text-gray-700">Actividad Reciente</h2>
    <div class="grid grid-cols-1 gap-4 sm:grid-cols-2 md:grid-cols-3">
      <div *ngFor="let publicacion of user.publicaciones" class="mb-4">
        <app-publicacion
          class="object-cover object-center w-full h-40 max-w-full rounded-lg"
          [imagen]="publicacion.imagen"
          [usuarioId]="publicacion.usuarioId"
          [descripcion]="publicacion.descripcion"
          [fecha]="publicacion.fecha"
          [aplausos]="publicacion.aplausos"
          [postId]="publicacion._id">
        </app-publicacion>
      </div>
    </div>
  </div>
</div>
