<div class="profile-container">

      <!-- Barra de navegación estática -->
      <nav class="flex justify-around items-center bg-accent py-3 fixed w-full top-0 z-50 shadow-lg">
        <!-- Botones para navegar a las otras partes de la app -->

        <button (click)='irAProfile()' class="bg-accent text-gray-800 font-bold py-2 px-4 rounded-full shadow-md hover:bg-primary hover:text-white hover:scale-110 transition-transform duration-300 ease-in-out">
        Perfil
        </button>
        <button (click)="irAFeed()" class="bg-accent text-gray-800 font-bold py-2 px-4 rounded-full shadow-md hover:bg-primary hover:text-white hover:scale-110 transition-transform duration-300 ease-in-out">
          Feed
        </button>
        

        <button (click)='irAMedallas()' class="bg-accent text-gray-800 font-bold py-2 px-4 rounded-full shadow-md hover:bg-primary hover:text-white hover:scale-110 transition-transform duration-300 ease-in-out">
          Medallas
        </button>

        <button (click)="irAPublicar()" class="bg-accent text-gray-800 font-bold py-2 px-4 rounded-full shadow-md hover:bg-primary hover:text-white hover:scale-110 transition-transform duration-300 ease-in-out">
          Publicar
        </button>
    
        <button (click)=" irACerrarSesion()" class="bg-primary text-white font-bold py-2 px-4 rounded-full shadow-lg hover:bg-accent hover:text-gray-800 hover:scale-110 transition-transform duration-300 ease-in-out">
          Cerrar Sesión
        </button>
      </nav>



<!--<div class="page-container"
   Barra de navegación estática
  <nav class="navbar">

    <button class="nav-button">Inicio</button>
    <button class="nav-button">Perfil</button>
    <button class="nav-button">Configuración</button>
  </nav>

   Contenedor del feed de publicaciones con scroll
  <div class="relative">
     Botón de Publicar
    <button
      (click)="publicar()"
      class="absolute top-0 right-0 m-4 bg-blue-600 hover:bg-blue-700 text-white font-semibold py-2 px-4 rounded-md shadow-lg">
      Publicar
    </button>


     div class="grid grid-cols-2 gap-4 md:grid-cols-4 mt-16"
     Grid de publicaciones  <!<div *ngFor="let post of posts" class="grid gap-4">
      <app-publicacion
         [imagen]="post.imagen"
         [usuarioId]="post.usuario"
         [descripcion]="post.descripcion"
         [fecha]="post.fecha"
         [aplausos]="post.aplausos"
         (aplauso)="addAplausos(post.aplausos)">
       </app-publicacion>
     </div>
   </div>
 </div>
</div>
-->
