<div class="flex flex-col h-screen bg-secondary">
    <!-- Barra de navegación estática -->
    <nav class="flex justify-around items-center bg-accent py-3 fixed w-full top-0 z-50 shadow-lg">
      <!-- Botones para navegar a las otras partes de la app -->
      <button (click)='irAProfile()' class="bg-accent text-gray-800 font-bold py-2 px-4 rounded-full shadow-md hover:bg-primary hover:text-white hover:scale-110 transition-transform duration-300 ease-in-out">
        Perfil
      </button>
      <button (click)="irAFeed()" class="bg-accent text-gray-800 font-bold py-2 px-4 rounded-full shadow-md hover:bg-primary hover:text-white hover:scale-110 transition-transform duration-300 ease-in-out">
        Feed
      </button>
      <button (click)="irAMedallas()" class="bg-accent text-gray-800 font-bold py-2 px-4 rounded-full shadow-md hover:bg-primary hover:text-white hover:scale-110 transition-transform duration-300 ease-in-out">
        Medalla
      </button>


      <button (click)="irAPublicar()" class="bg-accent text-gray-800 font-bold py-2 px-4 rounded-full shadow-md hover:bg-primary hover:text-white hover:scale-110 transition-transform duration-300 ease-in-out">
        Publicar
      </button>

      <button (click)="irACerrarSesion()" class="bg-primary text-white font-bold py-2 px-4 rounded-full shadow-lg hover:bg-accent hover:text-gray-800 hover:scale-110 transition-transform duration-300 ease-in-out">
        Cerrar sesión
      </button>
    </nav>

    <!-- Contenedor del componente de medallas con scroll -->
    <div class="relative h-full overflow-y-auto mt-20">
      <div class="flex flex-col items-center gap-4 px-4">
        <!-- Iterar sobre usuarios y mostrar sus medallas -->
        <div *ngFor="let usuario of usuarios" class="flex flex-col items-center p-6 bg-white shadow-lg rounded-lg max-w-xs">
          <h3 class="text-lg font-semibold text-dark">{{ usuario.nombre }}</h3>
          <div class="flex flex-wrap mt-4 justify-center">
            <!-- Iterar sobre las medallas del usuario -->
            <div *ngFor="let medalla of usuario.medallas" class="m-2 text-center">
              <p class="text-sm font-medium text-highlight">{{ medalla }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
