html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
}

.carousel-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: #f0f0f0;
  padding: 20px;
}

.carousel-wrapper {
  overflow: hidden;
  flex: 1;
  height: 100%;
  border-radius: 10px;
}

.carousel {
  display: flex;
  transition: transform 0.5s ease;
  width: 100%; /* Ocupar todo el ancho disponible */
}

.post-item {
  min-width: 100%; /* Cada post ocupa el 100% del ancho del carrusel */
  height: 100%;
}

.carousel-button {
  background-color: #f29d35;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 50%;
  font-size: 20px;
  cursor: pointer;
  margin: 0 10px;
  transition: background-color 0.3s ease;
}

.carousel-button:hover {
  background-color: #f2cd88;
}

.post-content img {
  width: 100%; /* La imagen ocupará todo el ancho del contenedor */
  height: auto; /* Mantiene las proporciones de la imagen */
  object-fit: cover; /* Evita que la imagen se corte */
  border-radius: 10px;
}

.post-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; /* Hace que el contenedor ocupe toda la altura */
}
