.carousel-container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 600px;
  margin: 0 auto;
  position: relative;
  background-color: #f0f0f0; /* Fondo claro para el contenedor del carrusel */
  padding: 20px; /* Espaciado interno */
  border-radius: 10px; /* Bordes redondeados */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.carousel-wrapper {
  overflow: hidden;
  flex: 1;
  border-radius: 10px; /* Bordes redondeados en el wrapper */
}

.carousel {
  display: flex;
  transition: transform 0.5s ease; /* Efecto de transición suave */
}

.post-item {
  min-width: 100%; /* Cada publicación ocupa todo el ancho */
  opacity: 0; /* Inicia con la publicación oculta */
  transition: opacity 0.5s ease;
}

.post-item.active {
  opacity: 1; /* Muestra la publicación activa */
}

.carousel-button {
  background-color: #f29d35;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 10px;
  font-size: 20px; /* Aumenta el tamaño del botón */
  transition: background-color 0.3s; /* Transición para el hover */
}

.carousel-button:hover {
  background-color: #f2cd88;
}

.post-content {
  position: relative; /* Para usar con pseudo-elementos */
}

.applause-button {
  background-color: #F29D35; /* Color del botón */
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.applause-button:hover {
  background-color: #F2CD88; /* Color del botón en hover */
}

/* Añadir efectos de sombra a las publicaciones */
.post-content:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Sombra al pasar el ratón */
}
.carousel-container {
  height: 100vh; /* Ocupar toda la altura de la pantalla */
}

.carousel {
  display: flex;
}
