/* Estilo para el contenedor principal */
.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("https://png.pngtree.com/thumb_back/fh260/background/20230706/pngtree-champion-s-victory-3d-render-of-gold-medal-and-trophy-adorning-image_3803016.jpg");
}

/* Estilo para el contenedor del login */
.login-container {
  width: 100%;
  height: 100vh; /* Ocupa toda la altura de la pantalla */
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover; /* Asegura que la imagen cubra todo el fondo */
  background-position: center; /* Centra la imagen */
  background-repeat: no-repeat; /* No repite la imagen */

}

/* Estilo para el recuadro blanco del login */
.login-box {
  background-color: white;
  padding: 2rem;
  border-radius: 10px;
  border: 2px solid #8C4303; /* Borde color */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 350px;
  text-align: center;
}

/* Título grande del login */
.title {
  margin-bottom: 1rem;
  font-size: 2.5rem; /* Tamaño de fuente grande */
  color: #020301; /* Color del título */
}

/* Estilo de los campos de entrada */
.input-group {
  margin-bottom: 1.5rem;
  text-align: left;
}

.input-group label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.input-group input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

/* Estilo del botón de inicio de sesión */
button {
  width: 100%;
  padding: 0.75rem;
  background-color: #FDD57D;
  color: black;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  margin-bottom: 1rem; /* Espaciado entre botones */
}

button:hover {
  background-color: wheat;
}

.create-account-button {
  width: 100%;
  padding: 0.75rem;
  background-color: wheat; /* Fondo transparente */
  color: gray; /* Color del texto */
  border: 2px solid wheat; /* Borde oscuro */
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s; /* Transición suave para el hover */
}

.create-account-button:hover {
  background-color: wheat; /* Color de fondo al pasar el cursor */
  color: #8C4303; /* Cambia el color del texto al pasar el cursor */
}




