<div class="login-container">
  <div class="login-box">
    <h2 class="subtitle">Crear Cuenta</h2>
    <form (ngSubmit)="onSubmit()">
      <div class="input-group">
        <label for="username">Nombre de Usuario</label>
        <input type="text" id="username" placeholder="Introduce tu nombre de usuario" required>
      </div>
      <div class="input-group">
        <label for="registerEmail">Correo Electrónico</label>
        <input type="email" id="registerEmail" placeholder="Introduce tu correo" required>
      </div>
      <div class="input-group">
        <label for="registerPassword">Contraseña</label>
        <input type="password" id="registerPassword" placeholder="Introduce tu contraseña" required>
      </div>
      <button type="submit">Crear Cuenta</button>
    </form>
  </div>
</div>
