<div class="flex justify-center items-center min-h-screen bg-secondary">
  <div class="w-96 p-5 bg-white shadow-lg rounded-lg text-center">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">

    <h1 class="text-primary font-pacifico text-4xl mb-5">Medallia</h1>
    <p class="text-dark font-semibold text-lg mb-5">Registrarse</p>
    <!-- Mensaje de éxito -->
    <div *ngIf="registrationSuccess" class="mb-4 p-3 bg-green-100 border border-green-500 text-green-700 rounded">
      ¡Usuario registrado exitosamente!
    </div>

    <form (ngSubmit)="onRegister()" #registerForm="ngForm">
      <div class="mb-4 text-left">
        <label for="email" class="block text-dark font-bold mb-1">Correo Electrónico</label>
        <input type="email" id="email" [(ngModel)]="registerData.email" name="email" required (input)="onEmailInput()"
               class="w-full p-3 border border-gray-300 rounded-md text-base">
        <div *ngIf="emailError" class="text-red-500 text-sm mt-1">{{ emailError }}</div>
      </div>

      <div class="mb-4 text-left">
        <label for="password" class="block text-dark font-bold mb-1">Contraseña</label>
        <input type="password" id="password" [(ngModel)]="registerData.password" name="password" required (input)="onPasswordInput()"
               class="w-full p-3 border border-gray-300 rounded-md text-base">
      </div>

      <div class="mb-4 text-left">
        <label for="confirmPassword" class="block text-dark font-bold mb-1">Confirmar Contraseña</label>
        <input type="password" id="confirmPassword" [(ngModel)]="registerData.confirmPassword" name="confirmPassword" required (input)="onPasswordInput()"
               class="w-full p-3 border border-gray-300 rounded-md text-base">
        <div *ngIf="passwordError" class="text-red-500 text-sm mt-1">{{ passwordError }}</div>
      </div>

      <button type="submit" class="w-full p-3 bg-primary text-white rounded-md font-bold text-base mb-3 hover:bg-[#A80CAA]">
        Crear Cuenta
      </button>

      <button type="button" (click)="goToHome()" class="w-full p-3 bg-highlight text-white rounded-md font-bold text-base hover:bg-accent">
        Volver a la Página Principal
      </button>
    </form>
  </div>
</div>
